name: Build

on:
  push:
    tags:
      - v*
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch:
          - aarch64_generic
          - i386_pentium-mmx
          - loongarch64_generic
          - mips_mips32
          - mipsel_24kc
          - mipsel_mips32
          - x86_64
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
      - name: Building packages
        uses: sbwml/openwrt-gh-action-sdk@go1.24
        env:
          ARCH: ${{ matrix.arch }}-openwrt-24.10
          FEEDNAME: packages_ci
          PACKAGES: luci-app-nft-timecontrol
          NO_REFRESH_CHECK: true

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.arch }}
          path: bin/packages/${{ matrix.arch }}/packages_ci/*.ipk

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: bin/packages/

      - name: Generate release tag
        id: tag
        run: |
          echo "release_tag=$(date +"%Y.%m.%d-%H%M")" >> $GITHUB_OUTPUT
          echo "Release date: $(date +"%Y.%m.%d %H:%M:%S")" > release.txt

      - name: Publish Release
        uses: ncipollo/release-action@v1
        with:
          tag: "v${{ steps.tag.outputs.release_tag }}"
          name: "${{ steps.tag.outputs.release_tag }}"
          bodyFile: release.txt
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          replacesArtifacts: true
          artifacts: "bin/packages/**/*.ipk"
